
/* logo izytelo */
span.logo {
    color: #137C8B;
    font-weight: bold;
}

/* nav */
nav {
    height: 10%;
}
a.navbar-brand {
    font-size: 3em;
}
    /* nav-link list */
    a.nav-link {
        font-weight: bold;
    }
    a.nav-link:hover {
        font-weight: normal;
        border:4px solid #709CA7;
        border-right:none;
        border-left:none;
        border-top: none;
    }

    /* media queries navbar */
        /*on max size*/
        @media screen and (min-width:600px) {
            .collapse.navbar-collapse {
                margin-left: 40%;
            }
            a.navbar-brand {
                padding-left: 1%;
            }
            .nav-item {
                padding-left: 30px;
                padding-right: 30px;
            }
        }
        /*on min size*/
        @media screen and (max-width:600px)  {
            a.navbar-brand {
                font-size: 2em;
            }
            a.nav-link {
                background-color: #B8CBD0;
            }
        }

/* landing page */
    /*.jumbotron {
        width: 100%;
        height: 70%;
        background-position: center center;
        background-size: cover;
        /*background-image: url(img/banner.jpg);
    } */
        .jumbotron {
            padding-left: 0%;
        }
    /* writed content */
        /* media queries container-jumbo */
            /*on max size*/
            @media screen and (min-width:600px) {
            .container-jumbo {
                margin-top: 5%;
                padding-left: 5%;
                width: 40%;
            }
        }
            /*on min size*/
        @media screen and (max-width:600px)  {
            .container-jumbo {
                margin-top: 5%;
                padding-left: 5%;
                width: 70%;
            }
        }
        a.btn.btn-lg {
            background-color: #709CA7;
            color: white;
        }

/* container-about */
    .container-about {
        margin-top: 10%;
        padding-left: 5%;
        padding-right: 5%;
        text-align: center;
    }
        h5.display-7 {
            text-transform: uppercase;
            margin-bottom: 4%;
        }
        .line {
            width:5px;
            height:1%;
            background-color: #137C8B;
            margin-top: 3%;
            margin-bottom: 2%;
            padding-left: 50%;
            padding-right: 50%;
        }
        p.about-landing {
            width: 50%;
            margin: 0 auto;
        }
            /*on min size*/
        @media screen and (max-width:600px)  {
            .p.about-landing {
                width: 100%;
            }
        }

/* Grid */
    .container-grid {
        margin-top: 7%;
        padding-left: 5%;
    }
    
    /* card */
    div.col-sm {
        text-align: center;
    } 
    .img-fluid {
        max-width: 60%;
        height: auto;
        margin-bottom: 8%;
    } 
    .img-fluid2 {
        max-width: 40%;
        height: auto;
        margin-bottom: 8%;
    } 
            /*on min size */
        @media screen and (max-width:600px)  {           
            .img-fluid {
                max-width: 40%;
                height: auto;
                margin-bottom: 2%;
            }
            .img-fluid2 {
                margin-top: 10%;
            }
        }
    .img-fluid3 {
        max-width: 60%;
        height: auto;
        margin-bottom: 2%;
    }
    
    .caption {
        font-weight: bold;
    }