
html, body {
    height: 100%;
}


/* logo izytelo */
span.logo {
    color: #5CAFE7;
    font-weight: bold;
}

/* nav */
nav {
    height: 10%;
}
a.navbar-brand {
    font-size: 3em;
    color: inherit;
}
    /* nav-link list */
    a.nav-link {
        text-decoration: none;
        color: inherit;
    }
    a.nav-link:hover {
        font-weight: normal;
        border:4px solid #709CA7;
        border-right:none;
        border-left:none;
        border-top: none;
        color: inherit;
    }

    @media only screen and (max-width: 400px) {
        nav{
           background-color: rgb(214, 42, 42);
        }
        }

/* gradient */
.gradient {
    background: rgb(6,3,42);
    background: linear-gradient(90deg, rgba(6,3,42,1) 0%, rgba(9,90,121,1) 35%, rgba(192,227,235,1) 100%); 
    }

/*landing page*/
.page-header {
    margin-top: 4rem;
    color: white;
    font-family: 'Montserrat', sans-serif;;
}

/* about */
.about {
    margin-bottom: 6%;
}

/* services */
.img-fluid {
    max-width: 70%;
    height: auto;
} 

/* why */
.feature {
    margin-top: 5%;
}

/* container-about 
    .container-about {
        margin-top: 10%;
        padding-left: 5%;
        padding-right: 5%;
        text-align: center;
    }
        h5.display-7 {
            text-transform: uppercase;
            margin-bottom: 4%;
        }
        .line {
            width:5px;
            height:1%;
            background-color: #137C8B;
            margin-top: 3%;
            margin-bottom: 2%;
            padding-left: 50%;
            padding-right: 50%;
        }
        p.about-landing {
            width: 50%;
            margin: 0 auto;
        }
            /*on min size
        @media screen and (max-width:600px)  {
            .p.about-landing {
                width: 100%;
            }
        }

/* Grid 
    .container-grid {
        margin-top: 7%;
        padding-left: 5%;
        margin-bottom: 7%;
    }
    
    /* card 
    div.col-sm {
        text-align: center;
    } 
    .img-fluid {
        max-width: 60%;
        height: auto;
        margin-bottom: 8%;
    } 
    .img-fluid2 {
        max-width: 40%;
        height: auto;
        margin-bottom: 8%;
    } 
            /*on min size 
        @media screen and (max-width:600px)  {           
            .img-fluid {
                max-width: 40%;
                height: auto;
                margin-bottom: 2%;
            }
            .img-fluid2 {
                margin-top: 10%;
            }
        }

    .caption {
        font-weight: bold;
    }

/* Quotes 
    .card {
        max-width: 70%;
        margin: 0 auto;
    }

/* Footer 
    .footer {
        margin-top: 10%;
    }